Site/Service References/FileSystemServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileSystem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileSystem_GetAllFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFiles" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetAllFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStream" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetParentDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParentDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetParentDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParentDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetDirectoryFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryFiles" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetDirectoryFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryFilesResponse" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="file" element="tns:file" />
    <wsdl:part name="userEmail" element="tns:userEmail" />
    <wsdl:part name="userPass" element="tns:userPass" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_UploadFile_OutputMessage" />
  <wsdl:message name="IFileSystem_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_CreateDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_CreateDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_DeleteDirectory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectory" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_DeleteDirectory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetDirectorySubDirectories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorySubDirectories" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetDirectorySubDirectories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorySubDirectoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePath" />
  </wsdl:message>
  <wsdl:message name="IFileSystem_GetFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePathResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileSystem">
    <wsdl:operation name="GetAllFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetAllFiles" message="tns:IFileSystem_GetAllFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetAllFilesResponse" message="tns:IFileSystem_GetAllFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetFileStream" message="tns:IFileSystem_GetFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetFileStreamResponse" message="tns:IFileSystem_GetFileStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetDirectory" message="tns:IFileSystem_GetDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetDirectoryResponse" message="tns:IFileSystem_GetDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetParentDirectory" message="tns:IFileSystem_GetParentDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetParentDirectoryResponse" message="tns:IFileSystem_GetParentDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetDirectoryFiles" message="tns:IFileSystem_GetDirectoryFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetDirectoryFilesResponse" message="tns:IFileSystem_GetDirectoryFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/UploadFileResponse" message="tns:IFileSystem_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/DeleteFile" message="tns:IFileSystem_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/DeleteFileResponse" message="tns:IFileSystem_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/CreateDirectory" message="tns:IFileSystem_CreateDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/CreateDirectoryResponse" message="tns:IFileSystem_CreateDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/DeleteDirectory" message="tns:IFileSystem_DeleteDirectory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/DeleteDirectoryResponse" message="tns:IFileSystem_DeleteDirectory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectorySubDirectories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetDirectorySubDirectories" message="tns:IFileSystem_GetDirectorySubDirectories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetDirectorySubDirectoriesResponse" message="tns:IFileSystem_GetDirectorySubDirectories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/Move" message="tns:IFileSystem_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/MoveResponse" message="tns:IFileSystem_Move_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileSystem/GetFilePath" message="tns:IFileSystem_GetFilePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileSystem/GetFilePathResponse" message="tns:IFileSystem_GetFilePath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileSystem" type="tns:IFileSystem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllFiles">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileStream">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetParentDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryFiles">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetDirectoryFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="file" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="userEmail" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="userPass" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/CreateDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/DeleteDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectorySubDirectories">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetDirectorySubDirectories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/Move" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilePath">
      <soap:operation soapAction="http://tempuri.org/IFileSystem/GetFilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileSystem">
    <wsdl:port name="BasicHttpBinding_IFileSystem" binding="tns:BasicHttpBinding_IFileSystem">
      <soap:address location="http://127.0.0.1:8085/FileSystem/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>